.title-button-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.all-files {
  display: flex;
  flex-wrap: wrap;
}

.all-files-title {
  text-align: center;
  margin: 10px 20px;
  color: #2f4858;
}

.btn-back:disabled {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}

.btn-back:disabled:hover {
  background-color: #bfbfbf;
  color: #ffffff;
  cursor: not-allowed;
}
