body {
  background: rgb(174, 238, 193);
  background: linear-gradient(
    90deg,
    rgba(174, 238, 193, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  background-attachment: fixed; /*edit*/
}

.loading-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

  background: rgb(174, 238, 193);
  background: linear-gradient(
    90deg,
    rgba(174, 238, 193, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  overflow: hidden;
}

.loading {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: progress;

  border-radius: 50%;
  border-top: 5px solid mintcream;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgb(195, 255, 225);
  border-right: 5px solid transparent;

  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dashboard-main h4 {
  margin: 10px 20px;
  color: mintcream;
  width: fit-content;
  font-weight: 500;
}

.dashboard-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 30px 0 15px 0;
  border-bottom: 3px solid #2f4858;
  padding-bottom: 20px;
}

.dashboard-info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  background-color: #2f4858;
  border-radius: 20px;
  padding: 7px;
}

.employees-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 20px;
  border-radius: 10px;
}

.employees-info h4 {
  margin: 0;
}

.btn.btn-view-employees {
  width: fit-content;
  padding: 5px 15px;
}
