.nav-bar {
  background-color: #2F4858;;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse
}

.nav-element {
    margin-left: 30px;
    text-decoration: none;
    font-weight: 600;
    color: white;
}
